.calculator-wrapper {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding : 0px !important;
}

.calculator-card {
  width: 100%;
  max-width: 400px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px !important;
}


.calculator-body {
  background-color: #070707;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px !important;
  align-items: center !important;
}

.power-preview {
  font-size: 1.0rem;
  font-weight: bold;
  color: #828c96;
  margin: 10px 0;
  text-align: center;
}

.text-group {
  margin-top: 5px;
  color: #ffffff;
  font-size: 1.5rem !important;
  margin-left: 0px !important;
  font-weight: bolder;
}


.input-field {
  border: 2px solid rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
   font-weight: bolder!important;
  font-size: 1.0rem !important;
  color: rgb(108, 117, 125)!important;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input-field::placeholder {
  color: rgb(108, 117, 125);
  font-Weight:bold;
  font-Size: 1.0rem;
}  


.result-group {
  margin-top: 5px;
  color: #ffffff;
  font-size: 1.5rem !important;
  margin-left: 0px !important;
}


@media (max-width: 1300px) {

  .result-group {
    margin-top: 5px;
    color: #ffffff;
    font-size: 1.2rem !important;
    margin-left: 0px !important;
  }
  

  .text-group {
    margin-top: 5px;
    color: #ffffff;
    font-size: 1.4rem !important;
    margin-left: 0px !important;
    font-weight: bolder;
  }

  .calculator-body {
    padding: 0px;
  }
  

  
}