.CarouselMain
{
  width: 100% !important;

}



.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 25%;
  height: 50%;
  width: 50%;
  background: linear-gradient(to bottom, #000000, #000000);
  border-radius: 15px;
  color: white;
  padding: 20px;
}

.card {
  background: rgba(24, 24, 24, 0.966);
  color: rgb(255, 255, 255);
   border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 90%;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}

.success
{
  color: rgb(11, 197, 11);
  font-size: 0.9rem;
}

button {
  background: #000000;
  color: white;
  border-Color: #c22748;
  border-Width: 2px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px !important; 
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #c22748;
}

button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}



.hintButton:hover {
  color:#06c3c9;
  background: #06c2c92f;

}



.validInput {
  border: 2px solid rgb(8, 165, 8) !important; 
  background-color: #e6ffe6!important; 
  pointer-events: none; /* Prevent further user interaction */
  border-radius: 5px !important;
  padding: 5px;
  font-Weight: bolder;
  font-Size: 1.0rem !important;
  color:rgb(35, 58, 43);
}

.Input {
  border: 2px solid rgb(255, 255, 255) !important; 
  background-color: #ffffff!important; 
  border-radius: 5px !important;
  padding: 5px;

  font-Weight: bold;
  font-Size: 1.0rem !important;
  color:rgb(108,117,125);
}



.Hidden {
  visibility: hidden !important;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.hintButton {
  margin-top: 10px;
  background:none;
  color: #06c3c9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hint {
  background: #000000;
  color: #06c3c9;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #06c3c9;
  border-radius: 5px;
  width: 30%;
  align-self: center;
  margin-left: 35%;
}

/* Reset Bootstrap default styles */
.pagination .page-item .page-link {
  background-color: transparent !important;
  color: inherit !important;
  border: none !important;
}

/* Custom styles for pagination */
.pagination .page-item .page-link {
  background-color: black !important;
  color: white !important;
  border: 1px solid green !important;
}

.pagination .page-item.active .page-link {
  background-color: black !important;
  color: white !important;
}

.pagination .page-item:hover .page-link {
  background-color: green !important;
  color: black !important;
}

/* Ensuring the same for disabled state if needed */
.pagination .page-item.disabled .page-link {
  background-color: black !important;
  color: gray !important;
}

.modal-open
{
  overflow-y: scroll !important;
}



@media (max-width: 1300px) {


  .test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    height: 40%;
    width: 50%;
    background: linear-gradient(to bottom, #000000, #000000);
    border-radius: 15px;
    color: white;
    padding: 20px;
    max-width: 700px;
    min-width: 350px;
  }

  .card {
    background: rgba(24, 24, 24, 0.966);
    color: rgb(255, 255, 255);
     border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    max-width: 600px;
    min-width: 300px;
  }

  .CarouselMain
  {
    width: 100% !important;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 0px !important;
    margin-top: 20px;
    }

    

}



@media (max-width: 550px) {


  .test-container {
    
    margin-right:35% !important; 
  }


  .card {
    background: rgba(24, 24, 24, 0.966);
    color: rgb(255, 255, 255);
     border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 90%;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
  }


  .test-container {
    margin-left:6% !important; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    height: 40%;
    width: 50%;
    background: linear-gradient(to bottom, #000000, #000000);
    border-radius: 15px;
    color: white;
    padding: 20px;
    max-width: 600px;
  }
}

